  
    <ul class="responsiveMenu" [ngClass]="{'menuVisible':state ,'menuInvisible':!state }">
        <li class="itemResponsive"><a href="">Inicio</a></li>
        <li class="itemResponsive"><a href="">Ofertas</a></li>
        <hr>
        <li class="itemResponsive genere"><a href="">Hombre</a></li>
        <li class="itemResponsive"><a href="">Parte Superior</a></li>
        <li class="itemResponsive"><a href="">Parte Inferior</a></li>
        <li class="itemResponsive"><a href="">Accesorios</a></li>
        <li class="itemResponsive"><a href="">Gorras</a></li>
        <li class="itemResponsive"><a href="">Calzado</a></li>
        <hr>
        <li class="itemResponsive genere"><a href="">Mujer</a></li>
        <li class="itemResponsive"><a href="">Parte Superior</a></li>
        <li class="itemResponsive"><a href="">Parte Inferior</a></li>
        <li class="itemResponsive"><a href="">Accesorios</a></li>
        <li class="itemResponsive"><a href="">Vestidos</a></li>
        <li class="itemResponsive"><a href="">Calzado</a></li>

    </ul>